# Ignore compiled Python
/**/*.pyc

# Ignore GNU Make files
**/*.o
**/*.d
**/*.gcda
**/*.gcno

# Ignore MSBuild/Visual Studio files
**/*.exe
**/*.pdb
**/*.ilk
**/*.suo
**/*.sdf
**/*.vcxproj.user
**/*.opensdf
**/x64
**/.vs
**/*.ipdb
**/*.iobj
**/*.testdurations

/lib
/documentation/
/build/
/pygenn.egg-info/
.vscode/
