# Ignore compiled Python
*.pyc

# Ignore GNU Make files
*.o
*.d
*.gcda
*.gcno

# Ignore MSBuild/Visual Studio files
*.lib
*.exp
*.dll
*.exe
*.pdb
*.ilk
*.suo
*.sdf
*.ipdb
*.iobj
*.testdurations
*.pyd
*.vcxproj.user
*.vcxproj.filters
*.opensdf
**/x64
**/.vs

/dist
/lib
/documentation/
/build/
/pygenn.egg-info/
.vscode/
/pygenn/share/
/.eggs/
