# Ignore object files
**/*.d
**/*.o
**/*.obj

# Ignore test executables
**/test
**/test_wrapper
**/test.exe

# Ignore GCOV output
**/*.gcda
**/*.gcno

# Ignore visual studio crap
**/*.idb
**/*.ipdb
**/*.iobj
**/*.tlog

# Ignore xml test output
**/*.xml

# Ignore output folders from code generation and clRNG
**/*_CODE
**/clRNG

# Ignore generator executables
**/generator*
**/generator*.exe

# Ignore windows runners
**/runner_*.lib
**/runner_*.exp
**/runner_*.dll

# Ignore test output
msg_*

# Ignore LCOV output
genn*coverage.txt
