# Ignore object files
**/*.d
**/*.o
**/*.obj

# Ignore test executables
**/test
**/test_wrapper
**/test.exe

# Ignore GCOV output
**/*.gcda
**/*.gcno

# Ignore xml test output
**/*.xml

# Ignore output folders from code generation
**/*_CODE

# Ignore generator executables
**/generator
**/generator.exe
**/generator_coverage
**/generator_coverage.exe
**/generator_debug
**/generator_debug.exe

# Ignore test output
msg_*

# Ignore LCOV output
genn*coverage.txt
