# Ignore object files
**/*.o
**/*.obj

# Ignore test executables
**/test
**/test.exe

# Ignore GCOV output
**/*.gcda
**/*.gcno

# Ignore xml test output
**/*.xml

# Ignore output folders from code generation
**/*_CODE

# Ignore generator executables
**/generateALL
**/generateALL.exe
**/generateALL_CPU_ONLY
**/generateALL_CPU_ONLY.exe

# Ignore CUDA junk
**/sm_version.mk

# Ignore test output
msg

# Ignore LCOV output
coverage.txt
code_coverage_report